<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proyectos</title>
    <link rel="stylesheet" href="estilos/estilos.css">
</head>

<body class="dos">

    <h1> Proyectos </h1>
    <div class="visita">
        <h2>Visitas: </h2>
        <span class="visitasProyectos">0</span>
    </div>


    <div class="menu">
        <a href="/">Inicio</a>

        <a href="/proyectos">Proyectos</a>
        <a href="/contacto">Contacto</a>
    </div>
</body>

</html>